/* for navbar3 */
.navbar3 {
  width: 99.2%;
  height: 31px;
  background-color: #fafafa;
  margin-left: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linknav3 {
  text-decoration: none;
  color: #535353;
  font-size: 13px;
  margin: 0 10px;
}
.todaysdeal {
  font-weight: bold;
}

/* for Category */
.todaysdealheading {
  font-size: 28px;
  position: relative;
  left: 20px;
  top: 20px;
}
.todaysdeals {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}
.todaysdeals::-webkit-scrollbar {
  width: 0%;
  height: 0%;
}
.dealslistrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.dealimg {
  width: 85px;
  height: 85px;
  margin: 0 20px;
}
.deals {
  text-decoration: none;
}
.caption {
  margin: 0 35px;
  font-size: 14px;
  color: #484848;
}
.Alldeals6,
.Alldeals7,
.Alldeals10,
.Alldeals11,
.Alldeals16,
.Alldeals19,
.Alldeals22 {
  position: relative;
  top: 20px;
}
.Alldeals11,
.Alldeals22 {
  position: relative;
  top: 30px;
}
.Alldeals2,
.Alldeals3,
.Alldeals12,
.Alldeals13,
.Alldeals15,
.Alldeals17,
.Alldeals18,
.Alldeals20,
.Alldeals21,
.Alldeals23,
.Alldeals25 {
  position: relative;
  top: 10px;
}
/* for dropdownbutton */
.btn-secondary {
  position: relative;
  bottom: 10px;
  left: 89%;
  width: 129px !important;
  height: 23px;
  border-radius: 8px !important;
  font-size: 12px !important;
  text-align: center !important;
  z-index: 1 !important;
  background-color: #e3e6e6;
}
.sort {
  position: relative;
  right: 10px;
  bottom: 7px;
}
.dropdowntoggle {
  position: relative;
  left: 87%;
  bottom: 10px;
  z-index: 2;
}
/* for productdealslist */
.productsdivs {
  width: 100%;
  height: 6306px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
}
.left {
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 20px;
  border-top: 1px solid #d5dbdb;
  background-color: white;
}
.filter {
  gap: 10px;
  position: relative;
  top: 20px;
  text-decoration: none;
}
.price {
  position: relative;
  top: 45px;
}
.All1 {
  font-weight: bold;
}
.filterprice {
  position: relative;
  top: 45px;
  text-decoration: none;
}
.Discount {
  position: relative;
  top: 70px;
}
.filtediscount {
  position: relative;
  top: 70px;
  text-decoration: none;
}
.DiscountAll1 {
  font-weight: bold;
}
.Review {
  position: relative;
  top: 90px;
}
.ratingdiv {
  position: relative;
  top: 90px;
  text-decoration: none;
}
.dealtype {
  position: relative;
  top: 110px;
}
.filterdealtype {
  position: relative;
  top: 110px;
  text-decoration: none;
}
.filterlink {
  text-decoration: none;
}
.Dealtype1 {
  font-weight: bold;
}
.prime {
  position: relative;
  top: 130px;
}
.primediv {
  position: relative;
  top: 130px;
  text-decoration: none;
}
.leftheading {
  font-size: 19px;
}
.ratingimg {
  width: 80px;
  height: 15px;
}
.primeimg {
  width: 60px;
  height: 20px;
}
.primecheck {
  margin-left: 5px;
}
.right {
  width: 83%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.rightdiv {
  width: 1101px;
  height: 301px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  position: relative;
  left: 9px;
  bottom: 20px;
}
.products {
  width: 367px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #d5dbdb;
  position: relative;
  top: 20px;
}
.products1,
.products2,
.products3,
.products4,
.products5,
.products6,
.products7,
.products8,
.products9,
.products10,
.products11,
.products12,
.products13,
.products14,
.products15,
.products16,
.products17,
.products18,
.products19,
.products20,
.rightdiv1,
.rightdiv2,
.rightdiv3,
.rightdiv4,
.rightdiv5,
.rightdiv6,
.rightdiv7,
.rightdiv8,
.rightdiv9,
.rightdiv10,
.rightdiv11,
.rightdiv12,
.rightdiv13,
.rightdiv14,
.rightdiv15,
.rightdiv16,
.rightdiv17,
.rightdiv18,
.rightdiv19,
.rightdiv20 {
  margin-top: 20px;
}

.offdeal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  right: 10px;
  top: 10px;
}
.offdeal2 {
  position: relative;
  left: 10px;
}
.Electric2 {
  position: relative;
  left: 10px;
}
.product2img {
  position: relative;
  left: 60px;
}
.off {
  width: 110px;
  height: 26px;
  background-color: #cc0c39;
  color: white;
  text-align: center;
}
.DealoftheDay {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 4px;
  left: 7px;
  color: #cc0c39;
}
.productlink {
  text-decoration: none;
}
.divsparas {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 10px;
  right: 10px;
  color: #535353;
}
/* for pagebuttons */
.pagebuttons {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 1113%;
  z-index: 2;
}
.Restrictionlink {
  text-decoration: none;
  position: relative;
  bottom: 18px;
  left: 600px;
}
.buttonsdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
  gap: 3px;
}
.previous {
  width: 100px;
  height: 35px;
  border-radius: 9px;
  background-color: white;
  color: #6f7377;
  border: 1px solid #d5dbdb;
}
.btnn {
  width: 40px;
  height: 35px;
  border-radius: 9px;
  background-color: white;
  color: #6f7377;
  border: 1px solid #d5dbdb;
}
.nextpage {
  width: 45px;
  height: 35px;
  border-radius: 9px;
  background-color: white;
  color: #6f7377;
  border: 1px solid #d5dbdb;
}
.lastpage {
  width: 50px;
  height: 35px;
  border-radius: 9px;
  background-color: white;
  color: #6f7377;
  border: 1px solid #d5dbdb;
}
.Next {
  width: 90px;
  height: 35px;
  border-radius: 9px;
  background-color: white;
  border: 1px solid #d5dbdb;
}
/* for bottomsection */
.siginbtn {
  position: relative;
  top: 1725px;
}
.footerdiv {
  position: relative;
  top: 2400px;
}
